@charset "utf-8";

/* 基本レイアウト ここから↓ */
@import url(common.css);
body {
  background-color: #fffffc;
  color: #5f5039;
  font-size: 87.5%;
  line-height: 1.5;
}
header, nav, #breadcrumb, #contents, footer {
  margin: 0 auto 0 auto;
  width: 900px;
}
header h1 {
  margin: 0 0 26px 0;
  padding-top: 28px;
  text-align: center;
}
nav ul {
  overflow: hidden;
  padding-left: 0;
  list-style-type: none;
  border-top: 3px solid;
  border-bottom: double;
}
nav ul li {
  margin: 5px 0 5px 0;
  float: left;
  width: 225px;
}
nav ul li a {
  overflow: hidden;
  display: block;
}

#contents {
  overflow: hidden;
}
#main {
  float: left;
  width: 900px;
}

footer {
  padding-top: 70px;
}
#main h1 {
  margin: 0 0 20px 0;
  padding: 35px 0 0 0;
  font-size: 156.25%;
  border-bottom: 3px dotted;
}
#main h2 {
  margin: 0 0 20px 0;
  padding: 35px 0 0 0;
  font-size: 156.25%;
  border-bottom: 3px dotted;
}
#bnr li a img:hover {
  opacity: 0.7;
}

/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */
  /*スライドショー*/
/*#slide {
  width: 100%;
  height: 100vh;
  background-image: url(../images/shop900-550.jpg),
                    url(../images/zakka900-550.jpg),
                    url(../images/pen&book900-550.jpg),
  background-repeat: no-repeat;
  animation-delay: 1s;
  animation-duration:7s;
  animation-name: slide;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes slide {
  0% {background-image: url(../images/shop900-550.jpg);}
  33% {background-image: url(../images/zakka900-550.jpg);}
  66% {background-image: url(../images/pen&book900-550.jpg);}
}*/
  /*スライド↑*/

#news ul {
  list-style-type: none;
  padding-left: 0;
  border-bottom: 2px dotted #6c5f45;
}
#news ul li {
  padding: 5px 0 5px 175px;
  color: #342300;
  text-indent: -175px;
}
#news ul li time {
  display: inline-block;
  width: 175px;
  font-weight: bold;
  color: #6c5f45;
  text-indent: 0;
}
/* トップページ ここまで↑ */

/* 「結婚式場のコンセプト」ページ ここから↓ */
.concept_box {
  overflow: hidden;
  margin-bottom: 30px;
}
.image_right {
  float: right;
  margin-left: 25px;
}
.image_left {
  float: left;
  margin-right: 25px;
}
.concept_box:last-child,
.concept_box p:last-child {
  margin-bottom: 0;
}
/* 「結婚式場のコンセプト」ページ ここまで↑ */

/* 「プランのご案内」ページ ここから↓ */
table {
  border-collapse: collapse;
}
caption {
  text-align: left;
  margin-bottom: 30px;
}
caption p {
  margin-top: 0;
  margin-bottom: 0;
}
table th, table td {
  padding: 15px;
  border: 1px solid #6c5f45;
}
table tr th:first-child {
  width: 70px;
}
table tbody th,
table tbody td {
  vertical-align: top;
}
table thead tr th {
  background-color: #eee8cc;
}
table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
table tbody tr:nth-child(even) {
  background-color: #f4f2f0;
}
/* 「プランのご案内」ページ ここまで↑ */

/* 「ブライダルフェア」ページ ここから↓ */
.gallery_box {
  overflow: hidden;
}
.gallery_box figure {
  margin: 0 0 15px 15px;
  width: 180px;
  float: left;
}
.gallery_box figure:first-child {
  margin-left: 0;
}
.gallery_box:first-of-type {
  margin-top: 30px;
}

/* 「ブライダルフェア」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */
form p {
  margin-top: 0;
  margin-bottom: 30px;
}
form p:nth-last-child(2) {
  margin-bottom: 7px;
}
form p:last-child {
  margin-bottom: 0;
}
input[type="text"] {
  width: 200px;
}
input[type="email"] {
  width: 300px;
}
textarea {
  width: 420px;
  height: 115px;
  overflow-y: scroll;
}

/* 「お問い合わせ」ページ ここまで↑ */
