@charset: "utf-8";

h1 {
  color: red;
}

#box1 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  color: orange;
}
#box2 {
  width: 200px;
  height: 100px;
  background-color: skyblue;
  color: blue;
}
#box3 {
  width: 300px;
  height: 100px;
  background-color: pink;
  color: red;
}

.hit {
  color: white;
  background-color: red;
}